<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Title</title>
</head>

<body>
    <div class="register-listing" th:with="id=${id}">
        <div>
            <h1>Add Listing to Your Portfolio</h1>
        </div>
        <form th:action="@{/listing_register}" method="POST" th:object="${listing}">
            <div class="m-3">
                <div class="form-group row">
                    <label class="col-form-group col-4">length</label>
                    <div class="col-8">
                        <input type="text" class="form-control" th:field="*{length}">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-group col-4">width</label>
                    <div class="col-8">
                        <input type="text" class="form-control" th:field="*{width}">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-group col-4">height</label>
                    <div class="col-8">
                        <input type="text" class="form-control" th:field="*{height}">
                    </div>
                </div>

                <div>
                    <button type="submit" class="btn btn-primary">Sign Up</button>
                </div>
                
            </div>
            <!-- Username: <input type="text" name="username" th:field="*{username}"/> <br/>
            Password: <input type="text" name="password" th:field="*{password}"/> <br/>
            Address: <input type="text" name="address" th:field="*{address}"/> <br/>
            <button name="submit" type="submit" value="0">Submit</button> -->
        </form>
    </div>
</body>

</html>