<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf + Spring Security</title>

    <div th:replace="/fragments/header :: header"/>

</head>
<body>

<div th:replace="/fragments/header :: navbar"/>

<div class="container">

    <div class="container">

        <!--Show this info message only if posted successfully-->
        <div class="alert alert-info" th:if="${successMessage}" th:utext="${successMessage}"></div>

        <!--New Post Form-->
        <div class="row" style="margin-top:20px">
            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                <form autocomplete="off" action="#" th:action="@{/newPost}"
                      th:object="${post}" method="post" class="form-horizontal"
                      role="form">

                    <h2 class="text-center">Write new post</h2>

                    <div class="m-3">
                        <div class="form-group row">
                            <label class="col-form-group col-4">address</label>
                            <div class="col-8">
                                <input type="text" class="form-control" th:field="*{address}" required="true">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-group col-4">length</label>
                            <div class="col-8">
                                <input type="number" class="form-control" th:field="*{length}" required="true" min="1">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-group col-4">width</label>
                            <div class="col-8">
                                <input type="number" class="form-control" th:field="*{width}" required="true" min="1">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-group col-4">height</label>
                            <div class="col-8">
                                <input type="number" class="form-control" th:field="*{height}" required="true" min="1">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-group col-4">start_date</label>
                            <div class="col-8">
                                <input type="date" class="form-control" th:field="*{startDate}" required="true">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-group col-4">end_date</label>
                            <div class="col-8">
                                <input type="date" class="form-control" th:field="*{endDate}" required="true">
                            </div>
                        </div>
                        
                    </div>

                    <input type="hidden" th:field="*{user}"/>
                    <input type="hidden" th:field="*{id}"/>

                    <div class="form-group">
                        <input type="submit" class="btn btn-primary btn-block" value="Save"/>
                    </div>

                </form>
            </div>
        </div>

        <!--Delete Button-->
        <!--Dont show delete button if the post is brand new-->
        <div class="row" th:if="${post.id}">
            <div class="col-md-6 col-md-offset-3">
                <form action="#" th:action="@{'/post/{id}'(id=${post.id})}" th:method="post"
                      class="form-horizontal">
                    <div class="form-group">
                        <input type="hidden" name="_method" value="delete"/>
                        <button type="submit" class="btn btn-danger btn-block" th:text="Delete">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
<!-- /.container -->

<div th:replace="/fragments/footer :: footer"/>

</body>
</html>