input {
    width: 100%;
}

body.row {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.row {
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
}

.row .title {
    font-size: 25px;
    font-weight: 500;
}

.row .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: #9b59b6;
}

/* .row form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
} */

form .user-details .form-group{
    margin: 20px 0 12px 0;
    width: calc(100%/2-20px);
}

.user-details .form-group input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
}



